.snackbar-container > .snackbar {
  animation: slideIn 0.3s ease-out;
}

.snackbar-container {
  z-index: 999;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
